OPENINARY_API_KEY="your_openinary_api_key"
POSTGRES_USER="your_postgres_user"
POSTGRES_PASSWORD="your_postgres_password"

POSTGRES_USER_DB="saas_user"
POSTGRES_DATA_DB="saas_data"
POSTGRES_MULTIPLE_DATABASES="${POSTGRES_USER_DB}, ${POSTGRES_DATA_DB}"
