BETTER_AUTH_SECRET="your_better_auth_secret"
OPENINARY_API_KEY="your_openinary_api_key"
POSTGRES_HOST="localhost"
POSTGRES_USER="your_postgres_user"
POSTGRES_PASSWORD="your_postgres_password"

SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASS=""

POSTGRES_USER_DB="saas_user"
POSTGRES_DATA_DB="saas_data"
POSTGRES_MULTIPLE_DATABASES="${POSTGRES_USER_DB}, ${POSTGRES_DATA_DB}"
